.play-button-outer {
    margin: 0 auto;
    width: 4em;
    height: 4em;
    background-color: transparent;
    cursor: pointer;
    border: solid 1px $c-white;
    border-radius: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
    @media screen and (min-width: 992px) {
        width: 7em;
        height: 7em;
    }
    .play-button {
        margin: 0 auto;
        top: 22%;
        left: 5%;
        position: relative;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 0 1em 1.5em;
        border-color: transparent transparent transparent $c-white;
        @media screen and (min-width: 992px) {
            top: 25%;
            border-width: 1.6em 0 1.6em 2.2em;
        }
    }
}

.btn-primary{
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: $c-darker;
    font-family: $f-book;
    background-color: $c-green;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    border-width: 0;
    border-radius: 2px;
    border-style: solid;
    padding: 9px 15px;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:hover,&:active,&:focus{
        background-color: $c-green;
        -webkit-box-shadow: 0 0.5em 0.5em -0.4em $c-green;
        box-shadow: 0 0.5em 0.5em -0.4em $c-green;
        -webkit-transform: translateY(-0.25em);
        transform: translateY(-0.25em);
        color: #fff;


    }

    &.inverse{
        background-color: #EDEBD9;
        color: #363126;
        &:hover,&:active {
            background-color: #EDEBD9;
            color: #363126;

        }
    }


}

.btn-light{
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2.25px;
    border-width: 0;

    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:hover{
        background-color: transparent;
        text-decoration: underline;
        color: #fff;
    }
}

.btn-form{
    float: right;
    border-width: 1px;
    color: #8E8063;
    border-color: #8E8063;
    border-style: solid;
    border-radius: 0;
    text-transform: uppercase;
    min-width: 130px;
    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:hover{
        background-color: #8E8063;
        text-decoration: none;
        color: #fff;
    }
}


.btn-brown{

}



.btn-dropdown, .btn-brown{
    font-family: $f-bold;
    color: #363126;
    background-color: #CDCFAD;
    font-size: 13px;
    position: relative;
    margin-right: 36px;
    &:after{
        margin: 0;
        border: none;
    }

    .arrow-down{
        width: 38px !important;
        height: 20px;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-image: url(../img/arrow-down-brown.svg);
        background-position: center;
        display: block;
        position: absolute;
        right: -42px;
        background-color: #CDCFAD;
        top: -1px;
        height: calc(100% + 2px);
        border-radius: 5px;
        padding: 16px;
    }

    &:hover, &:focus{
        color: #fff;
        box-shadow: none;
        outline: none;
    }
}


.btn-white{
    background-color: #fff;
    color: #363126;
    font-size: 14px;
    padding: 7px 17px;
    letter-spacing: 0;

    &:hover, &:focus{
        box-shadow: none;
        outline: none;
    }


    &.inverse{
        background-color: #363126;
        color: #fff;
    }

}

.btn-white.total {
    padding-left: 10px;
    padding-right: 10px;
}


.btn-registro{

    color: #F2F0DE;
    background-color: #8e8063;
    border-color: #8e8063;
     font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    border-width: 0;
    border-radius: 2px;
    border-style: solid;
    padding: 9px 15px;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    &:focus{
        outline: none;
        box-shadow: none;
    }

    &:hover{
        background-color: $c-green;
        -webkit-box-shadow: 0 0.5em 0.5em -0.4em $c-green;
        box-shadow: 0 0.5em 0.5em -0.4em $c-green;
        -webkit-transform: translateY(-0.25em);
        transform: translateY(-0.25em);
        color: #fff;


    }

    @include under($b-md) {
        /*background-color: #F2F0DE;
        color: #8e8063;*/
    }
}

.btn-marron-claro {
    background-color: #afa098;
    &:hover{
        background-color: #363126;
        -webkit-box-shadow: 0 0.5em 0.5em -0.4em #363126;
        box-shadow: 0 0.5em 0.5em -0.4em #363126;
        -webkit-transform: translateY(-0.25em);
        transform: translateY(-0.25em);
        color: #fff;
    }
}

.btn-marron {
    background-color: #2c2b2a;
    color: #fff;
}
