
/* CONFIG */

@import '_mixins';
@import '_variables';

* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }

html {
	width: 100%;
	min-height: -webkit-fill-available;
}

body {
	width: 100%;
	color: $c-font;
	position: relative;
	font-size: 15.85px;
	min-height: 100vh;
	background: $c-base;
	line-height: 1.5;
	font-family: $f-book;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: -webkit-fill-available;
	@include under($b-xs) {
		font-size: 14.5px;
	}
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; }

h1,h2,h3,h4,h5,h6 { font-family: $f-book; font-weight: normal; margin: 0 0 15px 0; line-height: 1.125; letter-spacing: 2px; }

p {
	margin: 0 0 15px 0;
	line-height: 1.5;
	color: #fff;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: inherit;
	text-decoration: none;

    &:hover {
        color: inherit;
        /*text-decoration: underline;*/
    }
}

a.acepto {
	color: inherit;
	text-decoration: none;
}
a.acepto:hover{
	text-decoration: underline;
}

img {
	border: none;
	@include no-select;
}
a img { border: none; }
b,strong { font-weight: normal; font-family: $f-book; }

#pre {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 99;
	position: fixed;
	background: $c-black;
}

.bg-green{
	background-color: #CCD3B9;
}
