
/* FONTS */
$f-bold: 'Goudy', sans-serif;
$f-book: 'Inter', sans-serif;
$f-italic: 'Goudy-italic', sans-serif;
$f-light: 'Goudy-Light', sans-serif;


/* COLORS */
$c-base:  #ffffff;
$c-font:  #111111;

$c-white:       #FFFFFF;
$c-black:       #000000;
$c-darker:      #363126;
$c-dark:        #363126;
$c-light:       #E9E7E0;
$c-green:       #BCC4A8;
$c-lighter:     #F2F0DE;
$c-lightest:    #FDFCFC;
$c-brown:       #957D73;
$c-brown-light: #645147;
$c-brown-lighter: #E6DED5;


/* BREAKS */
$b-xl:  1400px;
$b-lg:  1200px;
$b-md:  992px;
$b-sm:   720px;
$b-xs:   600px;
$b-xxs:  550px;
$b-xxxs: 370px;

/* W&H */
$w-wrap: 1700px;