@font-face {
    font-family: 'Goudy-BoldItalicOsF';
    src: url('../webfont/Goudy-BoldItalicOsF.woff2') format('woff2'),
        url('../webfont/Goudy-BoldItalicOsF.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-BoldOsF';
    src: url('../webfont/Goudy-BoldOsF.woff2') format('woff2'),
        url('../webfont/Goudy-BoldOsF.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy';
    src: url('../webfont/Goudy-Italic.woff2') format('woff2'),
        url('../webfont/Goudy-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Goudy-italic';
    src: url('../webfont/Goudy-BoldItalic.woff2') format('woff2'),
        url('../webfont/Goudy-BoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-HeavyfaceItalic';
    src: url('../webfont/Goudy-HeavyfaceItalic.woff2') format('woff2'),
        url('../webfont/Goudy-HeavyfaceItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-SC';
    src: url('../webfont/Goudy-SC.woff2') format('woff2'),
        url('../webfont/Goudy-SC.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-ItalicOsF';
    src: url('../webfont/Goudy-ItalicOsF.woff2') format('woff2'),
        url('../webfont/Goudy-ItalicOsF.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-Heavyface';
    src: url('../webfont/Goudy-Heavyface.woff2') format('woff2'),
        url('../webfont/Goudy-Heavyface.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy';
    src: url('../webfont/Goudy.woff2') format('woff2'),
        url('../webfont/Goudy.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-bold';
    src: url('../webfont/Goudy-Bold.woff2') format('woff2'),
        url('../webfont/Goudy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy-ExtraBold';
    src: url('../webfont/Goudy-ExtraBold.woff2') format('woff2'),
        url('../webfont/Goudy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Youngest Serif Book';
    src: url('../webfont/TYSerif-Book.eot');
    src: local('The Youngest Serif Book'), local('TYSerif-Book'),
        url('../webfont/TYSerif-Book.eot?#iefix') format('embedded-opentype'),
        url('../webfont/TYSerif-Book.woff2') format('woff2'),
        url('../webfont/TYSerif-Book.woff') format('woff'),
        url('../webfont/TYSerif-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Youngest Serif Display';
    src: url('../webfont/TYSerif-D.eot');
    src: local('The Youngest Serif Display'), local('TYSerif-D'),
        url('../webfont/TYSerif-D.eot?#iefix') format('embedded-opentype'),
        url('../webfont/TYSerif-D.woff2') format('woff2'),
        url('../webfont/TYSerif-D.woff') format('woff'),
        url('../webfont/TYSerif-D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Youngest Script';
    src: url('../webfont/TYScript-Rg.eot');
    src: local('The Youngest Script'), local('TYScript-Rg'),
        url('../webfont/TYScript-Rg.eot?#iefix') format('embedded-opentype'),
        url('../webfont/TYScript-Rg.woff2') format('woff2'),
        url('../webfont/TYScript-Rg.woff') format('woff'),
        url('../webfont/TYScript-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}









