body[data-section="francesca-tucci"] {
	.section-subscribirse {
    	background-color: #AFA098;    	

    	.btn-primary{
    		background-color: #988280;
    	}
	}
	footer{
		background-color: #988280;
	}

	.btn-primary{
		background-color: #AFA098;
		color: #423C31;
	}
}